<navbar-component [isLogged]="false"></navbar-component>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="form-container">
        <input-component label="Email / Username" (valueChange)="changedEmail($event)"></input-component>
        <input-component label="Password" (valueChange)="changedPassword($event)"></input-component>
        <button class="button btn forget-password">Forgot your password</button>
        <primary-button-component [callbackClick]="loginClickHandle" text="Login"></primary-button-component>
    </div>
</div>