<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="row d-flex flex-align-center justify-content-center align-items-baseline">
        <div class="col d-flex flex-align-center justify-content-center flex-column">
            <circle-progress centerText="1" [progressData]="clientsData"> </circle-progress>
            <h4 class="text-center w-100">Clients</h4>
        </div>
        <div class="col d-flex flex-align-center justify-content-center flex-column">
            <circle-progress centerText="1" [progressData]="contractsData"> </circle-progress>
            <h4 class="text-center w-100">Contracts</h4>
        </div>
        <div class="col d-flex flex-align-center justify-content-center flex-column">
            <circle-progress centerText="3/2/1" [progressData]="courierData"> </circle-progress>
            <h4 class="text-center w-100">Couriers</h4>
        </div>
    </div>
</div>