/* You can add global styles to this file, and also import other style files */
a, a:link {
    text-decoration: none;
}

:root {
    --dark-color: black;
    --white-color: white;
    --primary-color: #00C5CB;
}

.text-center {
    text-align: center;
}