.navbar {
    padding: 30px 30px;
  
    .logo {
      width: 50px;
    }
  
    .nav-link {
      color: var(--dark-color);
  
      &.active {
        font-weight: bold;
      }
    }

    .navbar-collapse {
        margin-left: 20px;

        &.show, &.collapsing {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
}

.navbar-toggler-icon {
    color: white !important;
}