# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Environment variables
.env
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# npm packages
package-lock.json

# Yarn packages
yarn.lock

# ESLint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage/

# Jest/TS Jest
jest/

# TypeScript
*.tsbuildinfo

# Vite
vite/

# Next.js
.next/

# Nuxt.js
.nuxt/

#
