.map-screen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
  }
}

#map {
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  z-index: 98;
}

.right-panel {
  position: absolute;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 20px;
  z-index: 99;

  transition: all 1s ease-in-out;

  &.show {
    right: 0;
  }
}

.hide-show-btn {
  position: absolute;
  left: -25px;
  top: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #00cdd7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

 .driver-marker {
    width: 30px;
    height: 30px;
    background-color: #007cbf;
    border-radius: 50%;
    cursor: pointer;
  }
